h1,
h2,
h3,
p,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img{
    display: block;
}







body {
    background-color: #ffffff;
    font-family: roboto, sans-serif;
    color: #212121;

    
}

