.page-header {
  background-color: var(--white-text-color);

  border-bottom: 1px solid #ececec;

  @media (min-width: 480px) {
      width: 480px;
    }   
  
}

.page-header__container {
  padding: 15px 16px;
   }

.page-header__logo {
  color: #000000;
  
}

.nav {
  display: none;
  list-style-type: none;
  padding-left: 0;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;

  transition: color 250ms var(--timing-function);

  &:hover ,&:focus, &:active {
    color: var(--hover-link-button-color);
  }

}


.nav__studio--bottom-border {
  &::after {
    position: absolute;
    bottom: -31px;
    left: -1.5px;
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-link-button-color);
  }
}

.nav__portfolio--bottom-border {
  &::after {
    position: absolute;
    bottom: -31px;
    left: -3px;
    content: '';
    display: block;
    width: 78px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-link-button-color);
  }
}

.contact {
  display: none;
  margin-left: auto;
  list-style-type: none;
  padding-left: 0;
}

.contact__item {
  // display: flex;
  &:not(:last-child) {
    margin-right: 50px;
  }
}


.contact__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--basic-text-color);
}



.contact__link {
  // display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-text-color);
  transition: color 250ms var(--timing-function);

  &:hover, &:focus, &:active {
    color: var(--hover-link-button-color);
  }
 
}

.contact__link {
  &:hover, &:focus, &:active {
    .contact__icon-mail,
    .contact__icon-smartphone {
      fill: var(--hover-link-button-color);
    }
  }
  
}

.contact__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--basic-text-color);
}


